<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="teste">Fila começa aqui</p>
    <script>
        const fila = <%- JSON.stringify(fila) %>;
        function printQueue(){
            let start = fila;
            while (start.next != null){
                document.getElementById("teste").innerText += `\nNome: ${start.name} | CPF: ${start.cpf} | Posição: ${start.position}`;
                start = start.next;
            };
            document.getElementById("teste").innerText += `\nNome: ${start.name} | CPF: ${start.cpf} | Posição: ${start.position}`;
        }
        printQueue();
        document.getElementById("teste").innerText += '\nlindo';
    </script>
  </body>
</html>