<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <h2>Adicionar paciente à fila</h2>
    <form action="">
        <input type="text">
        <input type="text">
        <input type="button" value="">
    </form>
    <h2>Cadastrar atendimento</h2>
    <form action="">
        <input type="text">
        <input type="text">
        <input type="button" value="">
    </form>
</body>
</html>